 <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-database"></i> <span>Apassos Consultoria</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
           <app-quick-menu-profile></app-quick-menu-profile>
            <!-- /menu profile quick info -->

            <br />
                
          <app-menu></app-menu>
          <app-menu-footer></app-menu-footer>
          </div>
        </div>
         
          <app-content></app-content>
